.hero {
    /* position: fixed; */
    background-size: cover;

}

.text {
    color: lightgray;
    font-size: 2rem;
}

.brand {
    width: 200px;
    height: auto;
}



.gallery-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    }